<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div class="container">

        <!-- <pre> <%= tareas[0].id %> </pre> -->
        <div class="row">

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/insertar" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" name="titulo" placeholder="Ingresa el título">
                            </div>
                            <div class="form-group">
                                   <textarea class="form-control" name="descripcion" cols="30" placeholder="Ingresa una descripción"></textarea>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-7">
                <table class="table ">
                    <thead>
                        <th>#</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Estatus</th>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < tareas.length; i++){ %>
                            <tr>
                                <td> <%= tareas[i].id %> </td>
                                <td> <%= tareas[i].titulo %> </td>
                                <td> <%= tareas[i].descripcion %> </td>
                                <td> <%= tareas[i].estatus %> </td>
                            </tr>
                        <% }%>
                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <script src="../public/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>